body {
	background-color: white;
}

.header h2 {
	color: rgb(235, 196, 23);
}

.header p {
	color: #333333;
}

.results {
	margin-top: 20px;
}

.movie {
	background-color: white;
}

.movies-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content:flex-start;
}

.card-title {
	padding-top: 10px;
}

#watchlist-button {
	margin: 10px;
}